# Platform build data
/Builds/Linux64/Unturned_Data
/Builds/Linux64_Headless/Unturned_Headless_Data
/Builds/Windows32/Unturned_Data
/Builds/Windows32/MonoBleedingEdge
/Builds/Windows64/Unturned_Data
/Builds/Windows64/MonoBleedingEdge
/Builds/Windows64/WinPixEventRuntime.dll
/Builds/Windows64_Headless/Unturned_Data
/Builds/Windows64_Headless/MonoBleedingEdge
/Builds/Windows64_Headless/WinPixEventRuntime.dll
/Builds/*/*BurstDebugInformation*/

# Linux generated binaries
/Builds/Linux64/LinuxPlayer_s.debug
/Builds/Linux64/UnityPlayer.so
/Builds/Linux64/UnityPlayer_s.debug
/Builds/Linux64_Headless/LinuxPlayer_s.debug
/Builds/Linux64_Headless/UnityPlayer.so
/Builds/Linux64_Headless/UnityPlayer_s.debug

# Generated platform hashes file
/Builds/Shared/Bundles/core.masterbundle.hash

# Staging directory for built core.masterbundle
/Builds/CoreAssetBundle

# Depot copies of per-platform core.masterbundle
/Builds/Linux64/Bundles
/Builds/Linux64_Headless/Bundles
/Builds/OSX64/Bundles
/Builds/Windows32/Bundles
/Builds/Windows64/Bundles
/Builds/Windows64_Headless/Bundles

# No vanilla content is kept in here.
# Useful for testing community-submitted content without accidentally committing to source control.
/Builds/Shared/Sandbox/*

# Only include vanilla maps. Useful for testing community-submitted content without accidentally committing to source control.
/Builds/Shared/Maps/*
!/Builds/Shared/Maps/Alpha Valley/
!/Builds/Shared/Maps/Destruction/
!/Builds/Shared/Maps/Germany/
!/Builds/Shared/Maps/Monolith/
!/Builds/Shared/Maps/Paintball_Arena_0/
!/Builds/Shared/Maps/PEI/
!/Builds/Shared/Maps/Russia/
!/Builds/Shared/Maps/Tutorial/
!/Builds/Shared/Maps/Washington/
!/Builds/Shared/Maps/Yukon/

# Local user save data
/Builds/Shared/Cloud
/Builds/Shared/Logs
/Builds/Shared/Servers
/Builds/Shared/Worlds
sysinfo.txt
Preferences.json
Execute.config

# Test folder is a windows copy of the game
/Builds/Test

# In the past we included pre-rendered item icons, but it was thousands of PNGs accounting for hundreds
# of MB, so now the game still supports rendering them but will not include them in Steam or Git.
/Builds/Shared/Extras/Econ
/Builds/Shared/Extras/Icons
/Builds/Shared/Extras/CosmeticPreviews*
/Builds/Shared/Extras/OutfitPreviews*

# Automatically exported .csv of Asset IDs
/Builds/Shared/Extras/AssetIDs*
# Automatically exported .csv of basic gun damage and recoil stats
/Builds/Shared/Extras/GunStats*
# Automatically exported data for wiki
/Builds/Shared/Extras/WikiCargoData*

# Player screenshots
/Builds/Shared/Screenshots
/Builds/Shared/Spy.jpg

# Unity created files
/Library
/Logs
/obj
/Temp
/.vs
/.vscode

# Generated per-entity world cell bundles can be rebuilt from external map sources.
/Builds/WorldUpgrade/WorldSchemas/*/cells/

# Unity per-user editor settings
/UserSettings

# Maya thumbnail cache
.mayaSwatches/

# Audition peaks file
*.pkf
*.pkf.meta

# Razer Chroma animation files generated at runtime
*.chroma
*.chroma.meta

# Generated executable files
*.exe
*.pdb
*.x86
*.x86_64
*.app
Builds/*/UnityPlayer.dll

!BEService.exe
!BEService_x64.exe
!Unturned_BE.exe

# GitLFS doesn't play nice with these
openvr_api.bundle/
CSteamworks.bundle/

# Trash
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.suo
*.user
*.db
*.db.meta
*.DS_Store
*.log
.~lock*
*.blend1
*.blend1.meta
*.png~
*-autosave.kra
*-autosave.kra.meta
*~$*.*

# Build scripts are either trivially configured, or generated by BuildMethods
/Build_Scripts/*
!/Build_Scripts/Jenkinsfile.txt
!/Build_Scripts/Smartly Dressed Games.cer

# Audacity temp files
*.aup3-shm
*.aup3-shm.meta
*.aup3-wal
*.aup3-wal.meta

# Economy Files
ItemLinks.txt

# Originally, generated netcode was excluded from source control. But, including it makes running
# the project for the first time a lot easier.
#/Assets/Runtime/Assembly-CSharp/NetGen
#/Assets/Runtime/Assembly-CSharp/NetGen.meta

# Jenkins monitor settings
/Assets/Editor/Jenkins.asset
/Assets/Editor/Jenkins.asset.meta

# Jenkins bootstrapper project for c# prior to launching Unity
/JenkinsBootstrapper/.vs
/JenkinsBootstrapper/bin
/JenkinsBootstrapper/obj
!/JenkinsBootstrapper/JenkinsBootstrapper.csproj
!/JenkinsBootstrapper/JenkinsBootstrapper.sln
/JenkinsBootstrapper/UpgradeLog.htm
# Include pre-compiled binary
!/Build_Scripts/JenkinsBootstrapper.exe

# c++ library for Windows servers
# Ignore subfolders but not actual project files
# (generates seemingly randomly-named subfolder like "WindowsA.c3f1e20d")
/WindowsAssertionFix/*/*

# Tool for archiving server list history
/ServerScraper/.vs
/ServerScraper/bin
/ServerScraper/obj
!/ServerScraper/ServerScraper.csproj
!/ServerScraper/ServerScraper.sln
/ServerScraper/UpgradeLog.htm

# Local file for testing Steam inventory items
/Builds/Shared/TestInventory.dat

# Essential resources auto-imported from package
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta

# Unity creates these files during export
/Assets/Resources/PerformanceTestRunInfo*
/Assets/Resources/PerformanceTestRunSettings*
